{% extends 'base.html' %}
{% load static thumbnail i18n %}

{% block content %}
    <div class="container">
        <h1>Поддержать проект!</h1>
        <div class="jumbotron">
            <p>Спасибо, что поинтересовались! Прежде всего вы можете поддержать проект материально с помощью paypal или Yandex.
              Все собранные средства идут исключительно на оплату серверов и дальнейший донат продуктам, без которых создание игры было бы невозможным.
              Например, Wikipedia или Open Street Map.
            </p>
        </div>

        <div class="jumbotron">
            <h2>Я знаю несколько языков</h2>
            <p>Отлично! Я буду рад переводам текстов
            </p>
        </div>

        <div class="jumbotron">
            <h2>У меня есть опыт разработки</h2>
            <p>Исходный код лежит на Github и распространяется под лицензией GPLv3. Вы можете его установить на свой сервер или локально, чтобы помочь
                с развитием проекта. Я буду рад любому pull-request`у.
            </p>
        </div>

        <div class="jumbotron">
            <h2>Я заметил ошибку в данных</h2>
            <p>Что ж, такое случается. Вы можете написать мне об этом или попробовать исправить её самостоятельно. Все данные берутся из 2х источников: openstreetmap.org
              и wikidata.org. Регистрация и там, и там занимает всего пару минут, но после этого вы можете редактировать
              сведения в самых больших свободных справочников человечества. Мои скрипты периодически обновляют оттуда.
              Я действительно очень признателен этим организациям за сбор и каталогизацию данных. Они сэкономили мне сотни часов.
            </p>
        </div>

        <div class="jumbotron">
            <h2>Всё так сложно :(</h2>
            <p>Вы можете написать мне письмо. Каждая такая весточка мотивирет меня и убеждает, что я не зря развиваю этот проект! Более того, поделитесь
                ссылкой с друзьями.
            </p>
        </div>
    </div>
{% endblock %}
